* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 1280px;
    flex-direction: column;
    align-items: center;
}

.img-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-side img {
    width: 100%;
    display: none;
}

.login-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-side h1 {
    align-items: flex-start;
}

h1 {
    color: #3d6727;
    font-size: 55px;
}

.textBlock {
    padding-bottom: 20px;
}

.textBlock img {
    padding-bottom: 15px;
}

.textBlock h2 {
    padding-top: 5px;
    color: grey;
    font-weight: lighter;
}

.formControl-input {
    color: lightgray;
    border-radius: 5px;
    height: 45px;
    width: 98%;
    border: solid rgba(224, 224, 224, 0.808);
    outline: none;
    padding: 0 12px;
    margin-top: 10px;
}

.formControl {
    position: relative;
}

.formControl label {
    position: absolute;
    left: 15px;
    top: 22px;
    transition: all 0.3s ease-in-out;
}

.formControl-input::placeholder {
    color: transparent;
}

.formControl-input:focus~label,
.formControl-input:not(:placeholder-shown)~label {
    top: -15px;
    left: 0;
}

.formControl-input:focus~label {
    color: #3d6727;
}

form {
    font-size: 18px;
    color: black;
    padding: 10px 0;
    font-weight: 500;
}

.formBlock P {
    margin: 5px;
}

.thirdBlock p {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.thirdBlock a {
    padding-left: 10px;
}

.btSubmit {
    background-color: #3d6727;
    color: white;
    border: 1px solid #3d6727;
    padding: 15px 160px;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
}

.greenTxt {
    color: #3d6727;
    font-weight: bolder;
    font-size: 15px;
}

.errorInput {
    border: 2px solid red;
}

.custom-checkbox {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox input+label:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.custom-checkbox input:checked+label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #3d6727;
    background-position: center;
    border: none;
    padding: 1px;
}

.error {
    display: flex;
    justify-content: left;
    align-items: center;
}

.error img {
    width: 4%;
}

.error p {
    width: 95%;
    padding-left: 5px;
    padding-top: 2.9px;
    color: red;
}

.logInError {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.logInError img {
    width: 15px;
    height: 15px;
    margin-top: 1px;
}

.fillError {
    display: flex;
    justify-content: flex-end;
    width: 98%;
    font-size: 14px;
    color: red;
}

@media screen and (min-width:830px) {
    .container {
        flex-direction: row;
        justify-content: center;
    }
    .img-side img {
        display: block;
    }
}